<p>Showing <span class="tweet_count"><%= @tweets.size %></span> most recent tweets from <span class="handle"><%= @handle %></span>.</p>

<ul id="tweet_list">
<% @tweets.each do |tweet, image_url| %>
  <li>
    <span class="image"><%= image_tag image_url %></span>
    <span class="tweet"><%= tweet %></span>
  </li>
<% end %>
</ul>